:root {
    --accent: rgb(105, 105, 125);
    --accent-trans-half: rgba(105, 105, 125, 0.25);
    --accent-trans-full: rgba(105, 105, 125, 0.5);
    --art-blue: rgb(25, 25, 42);
    --art-gray: rgb(100, 100, 125);
    --art-white: rgb(255, 255, 255);
    --bg-light: rgb(15, 15, 27);
    --bg-dark: rgb(10, 10, 17);
    --bg-projects: rgb(0, 0, 5);
    --bg-projects-trans: rgba(0, 0, 5, 0.6);
    --projects-status-incomplete: rgb(0, 150, 255);
    --projects-status-incomplete-bg: rgba(0, 150, 255, 0.25);
    --projects-status-complete: rgb(0, 255, 150);
    --projects-status-complete-bg: rgba(0, 255, 150, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 62.5%;
    min-width: 375px;
    background-color: var(--bg-projects);
}