#contact-bg {
    background-color: var(--bg-projects);
    padding: 0 50px;
}

#contact-body {
    display: grid;
    grid-template-rows: 200px fit-content(100%);
}

.contact-title {
    color: white;
    font-size: 3.85rem;
    letter-spacing: 2px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#contact-form-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form-option {
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr;
    column-gap: 15px;
}

.contact-form-option > label {
    color: white;
    text-align: right;
    font-size: 1.15rem;
    font-weight: bold;
}

.contact-form-option > input {
    height: 35px;
}

.contact-form-option > textarea {
    padding-top: 10px;
    height: 70px;
    resize: none;
}

.contact-form-option > input,
.contact-form-option > textarea {
    font-family: 'Nunito', sans-serif;
    color: white;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    font-size: 1rem;
    border: none;

    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contact-form-option > input:focus,
.contact-form-option > textarea:focus {
    outline: none;
}

.contact-form-option > input::placeholder {
    color: white;
    opacity: 50%;
}

.contact-form-submit {
    height: 50px;
    background-color: unset;
    font-size: 1.15rem;
    letter-spacing: 1px;
    color: white;
    border: 3px solid white;
    cursor: pointer;

    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#contact-form-options,
.contact-form-submit {
    width: 100%;
    max-width: 2065px;
}

.contact-form-submit:hover {
    background: rgba(255, 255, 255, 0.25);
}

.contact-form-option > input:hover,
.contact-form-option > textarea:hover {
    background-color: rgba(255, 255, 255, 0.35);
}

@media screen and (max-width: 950px) {   
    .contact-title {
        padding: 50px 0;
        font-size: 6.5vw;
    }

    .contact-form-submit {
        font-size: 1rem;
    }
}

@media screen and (max-width: 700px) {
    #contact-body {
        grid-template-rows: 100px 1fr;
    }
}

@media screen and (max-width: 500px) {
    #contact-bg {
        padding: 0 25px;
    }
    
    #contact-form-options {
        gap: 0px;
    }
    
    .contact-form-option {
        grid-template-columns: unset;
        grid-template-rows: 35px 1fr;
    }

    .contact-form-option > label {
        text-align: left;
    }
}